@import url(https://fonts.google.com/);
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* General settings */

* {
    font-family: 'Red Hat Display';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    overflow-y: hidden;
}

body {
    background-image : url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

section {
    background-color: #fff;
    border-radius: 1em;
    max-width: 300px;
    box-shadow: 5px 5px 10px hsl(226, 35%, 86%);
}

/* Card content */

.hero {
    height: 150px;
}

h2 {
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    color: hsl(223, 47%, 23%);
    padding-top: 25px;
    padding-bottom: 10px;
}

.summary{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color:hsl(226, 16%, 62%)
}

.annual-plan {
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}

.icon-music {
    width: 50px;
    padding-left: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 25px;
}

.annual {
    font-weight: 900;
    font-size: 12px;
    color:hsl(223, 47%, 23%)
}

.price {
    font-weight: 500;
    font-size: 12px;
    color:hsl(226, 16%, 62%);
    padding-top: 3px;
}

.change {
    font-weight: 900;
    font-size: 12px;
    color: hsl(245, 75%, 52%);
    padding-left: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment {
    width: 250px;
    height: 35px;
    border: none;
    background-color:hsl(245, 75%, 52%);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px hsl(226, 35%, 86%);
}

.cancel {
    font-weight: 900;
    font-size: 12px;
    color:hsl(226, 16%, 62%);
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 35px;
}